.article {
  width: 400px;
  min-height: 100px;

  padding: 1rem 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;
  background-color: var(--content-bg-color);
  &__title {
    font-size: 2.3rem;
    color: var(--main-color);
  }
  &__sectionInput,
  &__sectionTask{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__sectionTask {
    margin-top: 1rem;
    flex-direction: column;
    gap: .5rem;
  }
  &__emptyText {
    //margin-top: 1rem;
    color: var(--emtry-color);
  }
}